* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.container {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 150px;
}
.header {
  background-color: #2FABE0;
  padding-top: 34px;
  padding-bottom: 70px;
  background-image: url('../img/header/header-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.header__upper {
  margin-bottom: 300px;
}
@media (max-width: 1600px) {
  .header__upper {
    margin-bottom: 150px;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 670px;
}
@media (max-width: 1300px) {
  .header__nav {
    max-width: 500px;
  }
}
.nav__item {
  padding: 0;
  margin: 0;
}
.nav__item a {
  padding: 3px 10px;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background: #2FABE0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-decoration: none;
}
@media (max-width: 1600px) {
  .nav__item a {
    font-size: 20px;
    line-height: 25px;
  }
}
.header__left-col {
  margin-bottom: 258px;
}
@media (max-width: 1600px) {
  .header__left-col {
    margin-bottom: 150px;
  }
}
.header__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 100px;
  line-height: 117px;
  color: #FFFFFF;
}
.header__title span {
  font-weight: 500;
}
@media (max-width: 1600px) {
  .header__title {
    font-size: 75px;
    line-height: 90px;
  }
}
@media (max-width: 1110px) {
  .header__title {
    font-size: 55px;
    line-height: 70px;
  }
}
.header__subtitle {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .header__subtitle {
    font-size: 35px;
    line-height: 55px;
  }
}
@media (max-width: 1110px) {
  .header__subtitle {
    font-size: 28px;
    line-height: 36px;
  }
}
.header__btn {
  padding: 15px 50px;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  color: #2FABE0;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  text-decoration: none;
}
.header__btn:hover {
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0);
}
@media (max-width: 1600px) {
  .header__btn {
    padding: 15px 30px;
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 1110px) {
  .header__btn {
    font-size: 20px;
    line-height: 25px;
  }
}
.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.scheme {
  padding-top: 106px;
  margin-bottom: 206px;
}
@media (max-width: 1300px) {
  .scheme {
    margin-bottom: 100px;
  }
}
.scheme__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 215px;
}
.sticker__left {
  margin: 0;
  padding: 40px 105px;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;
  background: #A4A4A4;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1600px) {
  .sticker__left {
    padding: 20px 80px;
    font-size: 30px;
    line-height: 81px;
  }
}
@media (max-width: 1300px) {
  .sticker__left {
    padding: 15px 50px;
    font-size: 20px;
    line-height: 60px;
  }
}
.sticker__right {
  margin: 0;
  padding: 40px 149px;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;
  background: #0F6A92;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1600px) {
  .sticker__right {
    padding: 20px 111px;
    font-size: 30px;
    line-height: 81px;
  }
}
@media (max-width: 1300px) {
  .sticker__right {
    padding: 15px 71px;
    font-size: 20px;
    line-height: 60px;
  }
}
.scheme__img-wrap {
  width: 100%;
}
.scheme__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.desc {
  margin-bottom: 196px;
}
@media (max-width: 1300px) {
  .desc {
    margin-bottom: 100px;
  }
}
.desc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .desc__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.desc__left-col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .desc__left-col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
  }
}
.img__wrap {
  width: 100%;
  margin-right: 50px;
}
.img__wrap {
  width: 100%;
}
@media (max-width: 1600px) {
  .desc__img1 {
    width: 360px;
  }
}
@media (max-width: 1600px) {
  .desc__img2 {
    width: 222px;
  }
}
.desc__right-col {
  width: 43%;
  text-align: right;
}
.desc__right-col p {
  margin: 0;
  font-weight: 300;
  font-size: 38px;
  line-height: 44px;
  color: #868686;
}
.desc__right-col p span {
  font-weight: 400;
}
@media (max-width: 1600px) {
  .desc__right-col p {
    font-size: 30px;
  }
}
@media (max-width: 1411px) {
  .desc__right-col p {
    font-size: 23px;
    line-height: 28px;
  }
}
@media (max-width: 1300px) {
  .desc__right-col p {
    text-align: center;
  }
  .desc__right-col p br {
    display: none;
  }
}
@media (max-width: 1300px) {
  .desc__right-col {
    width: 100%;
    margin-bottom: 20px;
  }
  .desc__right-col br {
    display: none;
  }
}
.desc__title {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 45px;
  line-height: 53px;
  text-align: right;
  color: #868686;
}
@media (max-width: 1600px) {
  .desc__title {
    font-size: 38px;
    line-height: 42px;
  }
}
@media (max-width: 1411px) {
  .desc__title {
    font-size: 30px;
    line-height: 42px;
  }
}
@media (max-width: 1300px) {
  .desc__title {
    text-align: center;
  }
}
.photos {
  margin-bottom: 194px;
}
@media (max-width: 1300px) {
  .photos {
    margin-bottom: 100px;
  }
}
.photos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photos__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  color: #979797;
}
.photos__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.photos__img-wrap img {
  display: block;
  width: 33%;
}
.triggers {
  margin-bottom: 157px;
}
@media (max-width: 1300px) {
  .triggers {
    margin-bottom: 100px;
  }
}
.triggers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 1300px) {
  .triggers-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.triggers__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.triggers__item p {
  margin: 0;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #868686;
}
.triggers__item p span {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}
@media (max-width: 1600px) {
  .triggers__item p span {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 1414px) {
  .triggers__item p span {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1600px) {
  .triggers__item p {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 1414px) {
  .triggers__item p {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1373px) {
  .triggers__item {
    width: 50%;
    margin-bottom: 35px;
  }
}
.triggers__img {
  margin-bottom: 17px;
}
.reviews {
  margin-bottom: 194px;
}
@media (max-width: 1300px) {
  .reviews {
    margin-bottom: 100px;
  }
}
.reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__img {
  display: block;
  height: auto;
  width: 100%;
}
.rewiews__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #868686;
}
.rewiews__name span {
  font-weight: 500;
}
.reviews__rating {
  margin-bottom: 23px;
}
@media (max-width: 1220px) {
  .reviews__rating img {
    width: 35px;
    height: 35px;
  }
}
.reviews__text1 {
  position: relative;
  padding: 14px 25px;
  background: #2FABE0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}
@media (max-width: 1220px) {
  .reviews__text1 {
    padding: 10px 15px;
  }
}
.reviews__text1::before {
  position: absolute;
  content: '15:24';
  right: 6px;
  bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1300px) {
  .reviews__text1::before {
    font-size: 10px;
    line-height: 15px;
  }
}
.reviews__text1 p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
@media (max-width: 1560px) {
  .reviews__text1 p {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1220px) {
  .reviews__text1 p {
    font-size: 20px;
    line-height: 25px;
  }
}
.reviews__text2 {
  position: relative;
  padding-top: 14px;
  padding-bottom: 34px;
  padding-left: 25px;
  padding-right: 25px;
  background: #2FABE0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}
@media (max-width: 1220px) {
  .reviews__text2 {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.reviews__text2::before {
  position: absolute;
  content: '11:18';
  right: 6px;
  bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1300px) {
  .reviews__text2::before {
    font-size: 10px;
    line-height: 15px;
  }
}
.reviews__text2 p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
.reviews__text2 p sup {
  font-size: 20px;
}
@media (max-width: 1560px) {
  .reviews__text2 p {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1220px) {
  .reviews__text2 p {
    font-size: 20px;
    line-height: 25px;
  }
}
.reviews__text3 {
  position: relative;
  padding: 14px 25px;
  background: #2FABE0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}
@media (max-width: 1220px) {
  .reviews__text3 {
    padding: 10px 15px;
  }
}
.reviews__text3::before {
  position: absolute;
  content: '15:24';
  left: 22px;
  bottom: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1300px) {
  .reviews__text3::before {
    font-size: 10px;
    line-height: 15px;
  }
}
.reviews__text3 p {
  margin: 0;
  text-align: right;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
@media (max-width: 1560px) {
  .reviews__text3 p {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 1220px) {
  .reviews__text3 p {
    font-size: 20px;
    line-height: 25px;
  }
}
.promotion {
  background-color: #2FABE0;
  padding-top: 19px;
  padding-bottom: 14px;
}
.promotion__cotent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion__left-col img {
  width: 100%;
}
@media (max-width: 1600px) {
  .promotion__left-col img {
    width: 300px;
  }
}
.promotion__center-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.promotion__desc {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
}
.promotion__desc span {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .promotion__desc span {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 1200px) {
  .promotion__desc span {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1600px) {
  .promotion__desc {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1200px) {
  .promotion__desc {
    font-size: 20px;
    line-height: 25px;
  }
}
.promotion__btn {
  padding: 20px 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #2FABE0;
  text-decoration: none;
}
.promotion__btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 1600px) {
  .promotion__btn {
    padding: 15px 20px;
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .promotion__btn {
    font-size: 20px;
    line-height: 25px;
  }
}
.promotion__right-col img {
  width: 100%;
  height: auto;
}
@media (max-width: 1600px) {
  .promotion__right-col img {
    width: 300px;
  }
}
.footer {
  background-color: #0F6A92;
  padding-top: 39px;
  padding-bottom: 39px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__desc {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}
.footer__copyright {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: right;
}
