* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.container {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1700px) {
  .container {
    max-width: 1170px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.header {
  background-color: #2FABE0;
  padding-top: 34px;
  padding-bottom: 70px;
  background-image: url('../img/header/header-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
@media (max-width: 1700px) {
  .header {
    background-image: url('../img/header/header-img2.png');
    background-size: auto auto;
    background-position: right 15% bottom 50%;
    padding-top: 31px;
    padding-bottom: 118px;
  }
}
@media (max-width: 1600px) {
  .header {
    background-position: right 15% bottom 75%;
  }
}
.header__upper {
  margin-bottom: 300px;
}
@media (max-width: 1700px) {
  .header__upper {
    margin-bottom: 367px;
  }
}
@media (max-width: 1600px) {
  .header__upper {
    margin-bottom: 200px;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 670px;
}
@media (max-width: 1700px) {
  .header__nav {
    max-width: 569px;
  }
}
.nav__item {
  padding: 0;
  margin: 0;
}
.nav__item a {
  padding: 3px 10px;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background: #2FABE0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-decoration: none;
}
.nav__item a:hover {
  background: #218BB8;
}
.nav__item a:active {
  background: #2FABE0;
  -webkit-box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1700px) {
  .nav__item a {
    font-size: 18px;
    line-height: 21px;
    padding: 1px 24px;
  }
}
.header__left-col {
  margin-bottom: 258px;
}
@media (max-width: 1700px) {
  .header__left-col {
    margin-bottom: 277px;
  }
}
@media (max-width: 1600px) {
  .header__left-col {
    margin-bottom: 180px;
  }
}
.header__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 100px;
  line-height: 117px;
  color: #FFFFFF;
}
.header__title span {
  font-weight: 500;
}
@media (max-width: 1700px) {
  .header__title {
    font-size: 80px;
    line-height: 93px;
    margin-bottom: 0;
  }
}
@media (max-width: 1400px) {
  .header__title {
    font-size: 62px;
    line-height: 93px;
    margin-bottom: 0;
  }
}
.header__subtitle {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
}
@media (max-width: 1700px) {
  .header__subtitle {
    font-size: 47px;
    line-height: 55px;
    margin-bottom: 36px;
  }
}
@media (max-width: 1400px) {
  .header__subtitle {
    font-size: 37px;
    line-height: 55px;
    margin-bottom: 26px;
  }
}
.header__btn {
  padding: 15px 50px;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  color: #2FABE0;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  text-decoration: none;
}
.header__btn:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
}
.header__btn:active {
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.26);
}
@media (max-width: 1700px) {
  .header__btn {
    font-size: 32px;
    line-height: 37px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.scheme {
  padding-top: 106px;
  margin-bottom: 206px;
}
@media (max-width: 1700px) {
  .scheme {
    padding-top: 100px;
    margin-bottom: 193px;
  }
}
.scheme__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 215px;
}
@media (max-width: 1700px) {
  .scheme__stickers {
    margin-bottom: 199px;
  }
}
.sticker__left {
  margin: 0;
  padding: 40px 105px;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;
  background: #A4A4A4;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1700px) {
  .sticker__left {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 285px;
    padding-right: 62px;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
  }
}
@media (max-width: 1560px) {
  .sticker__left {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 115px;
    padding-right: 45px;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
  }
}
@media (max-width: 1250px) {
  .sticker__left {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 70px;
    padding-right: 30px;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
  }
}
.sticker__right {
  margin: 0;
  padding: 40px 149px;
  font-weight: normal;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;
  background: #0F6A92;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1700px) {
  .sticker__right {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 70px;
    padding-right: 352px;
    font-size: 36px;
    line-height: 42px;
    text-align-last: left;
  }
}
@media (max-width: 1560px) {
  .sticker__right {
    padding-top: 13px;
    padding-bottom: 11px;
    padding-left: 45px;
    padding-right: 190px;
    font-size: 36px;
    line-height: 42px;
    text-align-last: left;
  }
}
@media (max-width: 1250px) {
  .sticker__right {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 128px;
    font-size: 28px;
    line-height: 32px;
    text-align-last: left;
  }
}
.scheme__img-wrap {
  width: 100%;
}
.scheme__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.desc {
  margin-bottom: 196px;
}
@media (max-width: 1700px) {
  .desc {
    margin-bottom: 72px;
  }
}
.desc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.desc__left-col {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img__wrap {
  width: 100%;
  margin-right: 50px;
}
.img__wrap:first-child {
  margin-right: 0;
}
@media (max-width: 1700px) {
  .desc__img1 {
    width: 351px;
    height: 446px;
  }
}
@media (max-width: 1200px) {
  .desc__img1 {
    width: 300px;
    height: 355px;
  }
}
@media (max-width: 1700px) {
  .desc__img2 {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 1200px) {
  .desc__img2 {
    width: 150px;
    height: 150px;
  }
}
.desc__right-col {
  width: 43%;
  text-align: right;
}
.desc__right-col p {
  margin: 0;
  font-weight: 300;
  font-size: 38px;
  line-height: 44px;
  color: #868686;
}
.desc__right-col p span {
  font-weight: 400;
}
@media (max-width: 1700px) {
  .desc__right-col p {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1200px) {
  .desc__right-col p {
    font-size: 22px;
    line-height: 29px;
  }
}
.desc__title {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 400;
  font-size: 45px;
  line-height: 53px;
  text-align: right;
  color: #868686;
}
@media (max-width: 1700px) {
  .desc__title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 1200px) {
  .desc__title {
    font-size: 28px;
    line-height: 39px;
  }
}
.photos {
  margin-bottom: 194px;
}
@media (max-width: 1700px) {
  .photos {
    margin-bottom: 161px;
  }
}
@media (max-width: 1300px) {
  .photos {
    margin-bottom: 121px;
  }
}
.photos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.photos__title {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 50px;
  line-height: 59px;
  color: #979797;
}
@media (max-width: 1700px) {
  .photos__title {
    margin-bottom: 78px;
    font-size: 36px;
    line-height: 72px;
  }
}
@media (max-width: 1300px) {
  .photos__title {
    margin-bottom: 48px;
    font-size: 30px;
    line-height: 48px;
  }
}
.photos__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.photos__img-wrap img {
  display: block;
  width: 33%;
}
.triggers {
  margin-bottom: 157px;
}
@media (max-width: 1700px) {
  .triggers {
    margin-bottom: 195px;
  }
}
@media (max-width: 1300px) {
  .triggers {
    margin-bottom: 100px;
  }
}
.triggers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (max-width: 1300px) {
  .triggers-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.triggers__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.triggers__item p {
  margin: 0;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #868686;
}
@media (max-width: 1700px) {
  .triggers__item p {
    font-size: 25px;
    line-height: 29px;
  }
}
.triggers__item p span {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}
@media (max-width: 1700px) {
  .triggers__item p span {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 1300px) {
  .triggers__item {
    width: 45%;
    margin-bottom: 30px;
  }
}
.triggers__img {
  margin-bottom: 17px;
}
@media (max-width: 1700px) {
  .triggers__img {
    display: none;
  }
}
.triggers__img-alt {
  display: none;
}
@media (max-width: 1700px) {
  .triggers__img-alt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.reviews {
  margin-bottom: 194px;
}
@media (max-width: 1700px) {
  .reviews {
    margin-bottom: 144px;
  }
}
.reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__img {
  display: block;
  height: auto;
  width: 100%;
}
.rewiews__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #868686;
}
.rewiews__name span {
  font-weight: 500;
}
.reviews__rating {
  margin-bottom: 23px;
}
.reviews__text1 {
  position: relative;
  padding: 14px 25px;
  background: #2FABE0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}
.reviews__text1::before {
  position: absolute;
  content: '15:24';
  right: 6px;
  bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1700px) {
  .reviews__text1::before {
    font-size: 18px;
    line-height: 21px;
    right: 24px;
    bottom: 13px;
  }
}
.reviews__text1 p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
@media (max-width: 1700px) {
  .reviews__text1 p {
    font-size: 27px;
    line-height: 31px;
  }
}
@media (max-width: 1300px) {
  .reviews__text1 p {
    font-size: 21px;
    line-height: 27px;
  }
}
@media (max-width: 1700px) {
  .reviews__text1 {
    padding-top: 14px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 1300px) {
  .reviews__text1 {
    padding-top: 10px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.reviews__text2 {
  position: relative;
  padding-top: 14px;
  padding-bottom: 34px;
  padding-left: 25px;
  padding-right: 25px;
  background: #2FABE0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}
.reviews__text2::before {
  position: absolute;
  content: '11:18';
  right: 6px;
  bottom: 7px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1700px) {
  .reviews__text2::before {
    font-size: 18px;
    line-height: 21px;
    right: 13px;
    bottom: 9px;
  }
}
.reviews__text2 p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
.reviews__text2 p sup {
  font-size: 20px;
}
@media (max-width: 1700px) {
  .reviews__text2 p sup {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 1700px) {
  .reviews__text2 p {
    font-size: 27px;
    line-height: 32px;
  }
}
@media (max-width: 1300px) {
  .reviews__text2 p {
    font-size: 21px;
    line-height: 27px;
  }
}
@media (max-width: 1700px) {
  .reviews__text2 {
    padding-top: 17px;
    padding-bottom: 42px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1300px) {
  .reviews__text2 {
    padding-top: 12px;
    padding-bottom: 37px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.reviews__text3 {
  position: relative;
  padding: 14px 25px;
  background: #2FABE0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.42);
  border-radius: 20px;
}
.reviews__text3::before {
  position: absolute;
  content: '15:24';
  left: 22px;
  bottom: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1700px) {
  .reviews__text3::before {
    font-size: 18px;
    line-height: 21px;
    left: 23;
    bottom: 10px;
  }
}
.reviews__text3 p {
  margin: 0;
  text-align: right;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}
@media (max-width: 1700px) {
  .reviews__text3 p {
    font-size: 25px;
    line-height: 29px;
  }
}
@media (max-width: 1300px) {
  .reviews__text3 p {
    font-size: 21px;
    line-height: 27px;
  }
}
@media (max-width: 1700px) {
  .reviews__text3 {
    padding-top: 14px;
    padding-bottom: 33px;
    padding-left: 46px;
    padding-right: 23px;
  }
}
@media (max-width: 1300px) {
  .reviews__text3 {
    padding-top: 10px;
    padding-bottom: 28px;
    padding-left: 43px;
    padding-right: 20px;
  }
}
.promotion {
  background-color: #2FABE0;
  padding-top: 19px;
  padding-bottom: 14px;
}
.promotion__cotent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion__left-col img {
  width: 100%;
}
.promotion__left-col img:last-child {
  display: none;
}
@media (max-width: 1700px) {
  .promotion__left-col img:last-child {
    display: block;
  }
}
@media (max-width: 1700px) {
  .promotion__left-col img {
    display: none;
  }
}
@media (max-width: 1700px) {
  .promotion__left-col {
    margin-left: 30px;
    position: relative;
    top: -27px;
  }
}
.promotion__center-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.promotion__desc {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
}
.promotion__desc span {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1700px) {
  .promotion__desc span {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 1700px) {
  .promotion__desc {
    font-size: 30px;
    line-height: 35px;
  }
}
.promotion__btn {
  padding: 20px 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  font-weight: 300;
  font-size: 35px;
  line-height: 41px;
  color: #2FABE0;
  text-decoration: none;
}
.promotion__btn span {
  font-weight: 500;
}
.promotion__btn:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
}
.promotion__btn:active {
  -webkit-box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.26);
          box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.26);
}
@media (max-width: 1700px) {
  .promotion__btn {
    font-size: 30px;
    line-height: 35px;
    padding: 10px 26px;
  }
}
.promotion__right-col img {
  width: 100%;
}
.promotion__right-col img:last-child {
  display: none;
}
@media (max-width: 1700px) {
  .promotion__right-col img:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 1700px) {
  .promotion__right-col img {
    display: none;
  }
}
.footer {
  background-color: #0F6A92;
  padding-top: 39px;
  padding-bottom: 39px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__desc {
  margin: 0;
  margin-bottom: 42px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}
@media (max-width: 1700px) {
  .footer__desc {
    font-size: 15px;
    line-height: 18px;
  }
}
.footer__copyright {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: right;
}
@media (max-width: 1700px) {
  .footer__copyright {
    font-size: 15px;
    line-height: 18px;
  }
}
