.desc {
    margin-bottom: 196px;

    @media (max-width: 1700px) {
        margin-bottom: 72px;
    }
}

.desc__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc__left-col {
    width: 50%;
    display: flex;
    align-items: center;
}

.img__wrap {
    width: 100%;
    margin-right: 50px;

    &:first-child {
        margin-right: 0;
    }
}

.desc__img1 {


    @media (max-width: 1700px) {
        width: 351px;
        height: 446px;
    }

    @media (max-width: 1200px) {
        width: 300px;
        height: 355px;
    }
}

.desc__img2 {

    @media (max-width: 1700px) {
        width: 180px;
        height: 180px;
    }
    @media (max-width: 1200px) {
        width: 150px;
        height: 150px;
    }
}

.desc__right-col {
    width: 43%;
    text-align: right;

    p {
        margin: 0;
        font-weight: 300;
        font-size: 38px;
        line-height: 44px;
        color: #868686;

        span {
            font-weight: 400;
        }

        @media (max-width: 1700px) {
            font-size: 30px;
            line-height: 35px;
        }
        @media (max-width: 1200px) {
            font-size: 22px;
            line-height: 29px;
        }
    }
}

.desc__title {
    margin: 0;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    text-align: right;
    color: #868686;

    @media (max-width: 1700px) {
        font-size: 36px;
        line-height: 42px;
    }
    @media (max-width: 1200px) {
        font-size: 28px;
        line-height: 39px;
    }
}