.header {
    background-color: #2FABE0;
    padding-top: 34px;
    padding-bottom: 70px;
    background-image: url('../img/header/header-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    @media (max-width: 1700px) {
        background-image: url('../img/header/header-img2.png');
        background-size: auto auto;
        background-position: right 15% bottom 50%;
        padding-top: 31px;
        padding-bottom: 118px;
    }
    @media (max-width: 1600px) {
        background-position: right 15% bottom 75%;
    }
}

.header__upper {
    margin-bottom: 300px;

    @media (max-width: 1700px) {
        margin-bottom: 367px;
    }

    @media (max-width: 1600px) {
        margin-bottom: 200px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    max-width: 670px;

    @media (max-width: 1700px) {
        max-width: 569px;
    }
}

.nav__item {
    padding: 0;
    margin: 0;

    a {
        padding: 3px 10px;
        font-weight: 300;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        background: #2FABE0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-decoration: none;

        &:hover {
            background: #218BB8;   
        }

        &:active {
            background: #2FABE0;
            box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 1700px) {
            font-size: 18px;
            line-height: 21px;
            padding: 1px 24px;
        }
    }

    
}

.header__left-col {
    margin-bottom: 258px;

    @media (max-width: 1700px) {
        margin-bottom: 277px;
    }
    @media (max-width: 1600px) {
        margin-bottom: 180px;
    }
}   

.header__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 100px;
    line-height: 117px;
    color: #FFFFFF;

    span {
        font-weight: 500;
    }

    @media (max-width: 1700px) {
        font-size: 80px;
        line-height: 93px;
        margin-bottom: 0;
    }
    @media (max-width: 1400px) {
        font-size: 62px;
        line-height: 93px;
        margin-bottom: 0;
    }
}

.header__subtitle {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;

    @media (max-width: 1700px) {
        font-size: 47px;
        line-height: 55px;
        margin-bottom: 36px;
    }
    @media (max-width: 1400px) {
        font-size: 37px;
        line-height: 55px;
        margin-bottom: 26px;
    }
}

.header__btn {
    padding: 15px 50px;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #2FABE0;
    background: #FFFFFF;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    text-decoration: none;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
    }

    &:active {
        box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.26);
    }

    @media (max-width: 1700px) {
        font-size: 32px;
        line-height: 37px;
        padding-top: 7px;
        padding-bottom: 3px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header__arrow {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}