.promotion {
    background-color: #2FABE0;
    padding-top: 19px;
    padding-bottom: 14px;
}

.promotion__cotent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.promotion__left-col {

    img {
        width: 100%;
        
        &:last-child {
            display: none;

            @media (max-width: 1700px) {
                display: block;
                // position: relative;
                // top: 0;
            }
        }
        
        @media (max-width: 1700px) {
            display: none;
        }
    }

    @media (max-width: 1700px) {
        margin-left: 30px;
        position: relative;
        top: -27px;
    }
}

.promotion__center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.promotion__desc {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;

    span {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;

        @media (max-width: 1700px) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    @media (max-width: 1700px) {
        font-size: 30px;
        line-height: 35px;
    }
}   

.promotion__btn {
    padding: 20px 25px;
    background: #FFFFFF;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    font-weight: 300;
    font-size: 35px;
    line-height: 41px;
    color: #2FABE0;
    text-decoration: none;

    span {
        font-weight: 500;
    }

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
    }

    &:active {
        box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.26);
    }

    @media (max-width: 1700px) {
        font-size: 30px;
        line-height: 35px;
        padding: 10px 26px;
    }
}

.promotion__right-col {

    img {
        width: 100%;
        &:last-child {
            display: none;

            @media (max-width: 1700px) {
                display: flex;
            }
        }
        
        @media (max-width: 1700px) {
            display: none;
        }
    }
}